.WelcomeComponent {
    text-align: center;
    margin: 50px auto;
    animation: fadeIn 1s ease-in-out; /* Add fadeIn animation */
  }
  
  h1 {
    animation: slideIn 0.5s ease-in-out; /* Add slideIn animation to the heading */
  }
  
  /* Animations */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  @keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
  }