# Ignore node_modules (we install fresh dependencies inside Docker)
node_modules
npm-debug.log
yarn-error.log

# Ignore build artifacts
build
dist

.env
.env.local
.env.development
.env.production
.env.test

# Ignore editor and OS-specific files
.DS_Store
.vscode
.idea
*.swp
